# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Camden Withrow
  email = withrowcamden@gmail.com
  ; email = camdenwithrow@Camdens-MacBook-Pro.local
